/* div[data-testid="sidebarColumn"] {
    position: absolute!important;
    right: auto!important;
} */

main[role="main"] {
    justify-content: center !important;
}

/* NEW TWEET Container */
div[class="DraftEditor-root"] {
    scrollbar-width: none;
}

/* Primary Coloumn */
div[data-testid="primaryColumn"] {
    z-index: 2 !important;
    margin-top: 70px;
    border-width: 0 !important;
}

div[data-testid="sidebarColumn"] > div > div > div > div > div > div > div {
    justify-content: center;
}

form[role="search"] {
    /*position: center !important;*/
    display: center!important;
    margin-right: auto;
    margin-left: auto;
    max-width: 516px !important;
    top: 3px;
    right: 500px!important;
    z-index: 0;
    position: static!important;
}

/* div[data-testid="sidebarColumn"] > div > div > div > div > div > div {
    justify-content: center!important;
} */


/* Weird grey bar between NT Container and Tweets */
div[class="css-1dbjc4n r-z32n2g r-1or9b2r"] {
    visibility: hidden !important; 
}

/* NAV Mittig links */
header[role="banner"] > div > div > div {
    justify-content: center;
}


